{% extends "baseadminportal.html" %}

{% block content %}
<div class="container-fluid p-0">
    <header class="py-5 bg-white border-bottom">
        <div class="container my-5 text-center">
            <h1 class="display-4 fw-bold text-dark">Track Milestones. <span class="text-primary">Get Paid.</span></h1>
            <p class="lead text-muted mx-auto" style="max-width: 700px;">
                The simplest way for freelancers to manage project payments. Track milestones in one organized dashboard.
            </p>
        </div>
    </header>

    <section id="features" class="container py-5">
        <div class="row g-4 py-5">
            <div class="col-md-4">
                <div class="card h-100 border-0 shadow-sm text-center p-4">
                    <div class="display-5 text-primary mb-3"><i class="bi bi-layers"></i></div>
                    <h3>Milestones</h3>
                    <p class="text-muted">Break projects into phases. Only start the next task once the current milestone is paid.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 border-0 shadow-sm text-center p-4">
                    <div class="display-5 text-success mb-3"><i class="bi bi-currency-exchange"></i></div>
                    <h3>Flexible Payments</h3>
                    <p class="text-muted">Support for UPI, Cards, Cash, and Crypto. Keep your financial records accurate.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 border-0 shadow-sm text-center p-4">
                    <div class="display-5 text-info mb-3"><i class="bi bi-people"></i></div>
                    <h3>Client Portal</h3>
                    <p class="text-muted">Give clients a transparent view of their payment history and project progress also Logs to communicate easily.</p>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card h-100 border-0 shadow-sm text-center p-4">
                    <div class="display-5 text-info mb-3"><i class="bi bi-receipt-cutoff text-primary fs-3"></i></div>
                    <h3>Conversation Logs </h3>
                    <p class="text-muted">Track logs of conversation between freelancer and client .</p>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card h-100 border-0 shadow-sm text-center p-4">
                    <div class="display-5 text-info mb-3"><i class="bi bi-file-earmark-spreadsheet-fill fs-5"></i></div>
                    <h3>Generate Invoice </h3>
                    <p class="text-muted">Generate Project Invoice Easily with Single Click.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="demoModal" tabindex="-1" aria-labelledby="demoModalLabel" aria-hidden="true">
         </div> </div>
{% endblock %}